.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s ease-in-out;
}

.switchers {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}

.langSwitcher {
    margin-left: 15px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .langSwitcher {
        margin-left: 0;
    }
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 0;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-top: 40px;
}
