.Text {
    width: 100%;
}

.title {
    font-size: var(--font-size-l);
    color: var(--inverted-primary-color);
}

.text {
    font-size: var(--font-size-m);
    color: var(--inverted-primary-color);
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}
