:root,
.app.dark {
    --inverted-bg-color: #f5f5e5;
    --bg-color: #1f242a;
    --primary-color: #efeff0;
    --secondary-color: #201b29;
    --inverted-primary-color: #000;
    --inverted-secondary-color: #181818;
}
