.app.light {
  --inverted-bg-color: #1f242a;
  --bg-color: #F5F5E5;
  --primary-color: #000000;
  --secondary-color: #181818;

  --inverted-primary-color: #EFEFF0;
  --inverted-secondary-color: #201B29;
}
